# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CSharp/6.0/NewFeatureDemo/bin/
CSharp/6.0/NewFeatureDemo/obj/
Wpf/ResourceLibrary/obj/
Wpf/ResourcesDemo/bin/
Wpf/ResourcesDemo/obj/
Wpf/ResourceDictionaryDemo/obj/
Wpf/ResourceDictionaryDemo/bin/
Application/MissionPlanner/bin/
Application/MissionPlanner/obj/Debug/App.g.i.cs
Application/MissionPlanner/obj/
CSharp/4.5/TaskParallelLibraryDemo/bin/
CSharp/4.5/TaskParallelLibraryDemo/obj/
Application/MissionPlanner/code/MissionPlanner.Infrastructure/obj/
Application/MissionPlanner/code/MissionPlanner.Logging/obj/
Application/MissionPlanner/code/MissionPlanner.UI/obj/
Application/MissionPlanner/code/MissionPlanner.UI/bin/
Application/MissionPlanner/code/MissionPlanner.Logging/bin/
