# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CSharp/6.0/NewFeatureDemo/bin/
CSharp/6.0/NewFeatureDemo/obj/
Wpf/ResourceLibrary/bin/
Wpf/ResourceLibrary/obj/
Wpf/ResourcesDemo/bin/
Wpf/ResourcesDemo/obj/
Wpf/ResourceDictionaryDemo/bin/
Wpf/ResourceDictionaryDemo/obj/
Application/MissionPlanner/bin/
Application/MissionPlanner/obj/
CSharp/4.5/TaskParallelLibraryDemo/bin/
CSharp/4.5/TaskParallelLibraryDemo/obj/
Application/MissionPlanner/code/MissionPlanner.Infrastructure/bin
Application/MissionPlanner/code/MissionPlanner.Infrastructure/obj/
Application/MissionPlanner/code/MissionPlanner.Logging/bin/
Application/MissionPlanner/code/MissionPlanner.Logging/obj/
Application/MissionPlanner/code/MissionPlanner.UI/bin/
Application/MissionPlanner/code/MissionPlanner.UI/obj/
JSON/JsonDemo/bin/
JSON/JsonDemo/obj/
.vs/DanielBui/v14/.suo
Application/Emulator/Emulator.UI/obj
Application/Emulator/Emulator.UI/bin
Application/Emulator/Emulator.Logging/obj
Application/Emulator/Emulator.Logging/bin
Demo/DataStructures/DataStructuresDemo.DataStructures/bin
Demo/DataStructures/DataStructuresDemo.DataStructures/obj
Demo/DataStructures/DataStructuresDemo.UnitTests/bin
Demo/DataStructures/DataStructuresDemo.UnitTests/obj
Demo/DesignPatterns/DesignPatternsDemo.Singleton/bin
Demo/DesignPatterns/DesignPatternsDemo.Singleton/obj
Demo/ParallelProgramming/bin
Demo/ParallelProgramming/obj
Demo/ParallelProgramming/_ReSharper.ParallelProgrammingDemo
Demo/StaticConstructor
Database/DatabaseDemo
Temp/GA/FlightDataModel/bin
Temp/GA/FlightDataModel/obj
Temp/GA/RawDataProcessor/
Temp/GA/SharedLibrary/bin
Temp/GA/SharedLibrary/obj
Temp/GA/WindowsFormsClientApplication/bin
Temp/GA/WindowsFormsClientApplication/obj
Temp/GA/ASI_Daniel
Temp/GA/GenericParsing/bin
Temp/GA/GenericParsing/obj
Temp/GA/CsvFileReader
Temp/GA/DataParser/bin
Temp/GA/DataParser/obj

#Just for now, turn it back on later
Application/LesFlorist
LesFlorist.Tests
*.suo
*.db
.vs