<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="FlightDataEntities" connectionString="metadata=res://*/FlightDataModel.csdl|res://*/FlightDataModel.ssdl|res://*/FlightDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GA-3K1N662;initial catalog=GA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <WindowsFormsClientApplication.Properties.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>Data Source=GA-3K1N662;Initial Catalog=ASI_Flight_Data;Integrated Security=True;Max Pool Size=400</value>
      </setting>
    </WindowsFormsClientApplication.Properties.Settings>
  </applicationSettings>
</configuration>
